@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap");

.notosanskr * {
  font-family: "Noto Sans KR", sans-serif;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 10pt;
}

div.left-panel {
  width: 500;
}

.color-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.color-line-title {
  margin-right: 10px;
}

.score-group {
  margin-top: 15px;
}

.designer-buttons,
.user-buttons {
  margin: 7px;
  width: 150px;
  height: 20px;
  font-size: 12pt;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.finish-button {
  position: fixed;
  bottom: 10px;
  left: 10px;
  width: 150px;
  height: 20px;
  font-size: 12pt;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

#BPSection {
  padding: 20px;
}

.text-grid,
#logo-grid,
#motif-grid,
#vector-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.logo-input,
.text-input,
.motif-input {
  display: flex;
  width: 60px;
  height: 55px;
  margin: 2px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  align-items: center;
  justify-content: center;
}

.vector-input {
  display: flex;
  width: 45px;
  height: 50px;
  margin: 2px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  align-items: center;
  justify-content: center;
}

.bpImage {
  margin: 3px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

p.BPdescription {
  font-size: 12pt;
  font-weight: 300;
}

p.BPdescriptionKR {
  font-size: 12pt;
  font-family: "Noto Sans KR", sans-serif;
}

p.image-title,
p.BPkeywords {
  font-size: 16pt;
  font-weight: 600;
}

p.score-group-title {
  font-weight: 600;
}

p.feedback-description {
  font-family: "Noto Sans KR", sans-serif;
  color: blue;
}
