@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * {
  font-family: "Noto Sans KR", sans-serif;
}

.color-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.color-line-title {
  margin-right: 10px;
}

#dseigner-side-scores {
  margin-left: 15px;
}

ul {
  list-style-type: none;
  padding-left: 2px;
}

li {
  font-size: 12pt;
  padding-bottom: 0.5rem;
}

li.alarm {
  font-size: 14pt;
  color: red;
  font-weight: 500;
}

.designer-buttons,
.user-buttons {
  margin: 7px;
  width: auto;
  height: 50px;
  font-size: 20pt;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.text-grid,
#logo-grid,
#motif-grid,
#vector-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.logo-input,
.text-input,
.motif-input {
  display: flex;
  width: 75px;
  height: 70px;
  margin: 2px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  align-items: center;
  justify-content: center;
}

.vector-input {
  display: flex;
  width: 55px;
  height: 60px;
  margin: 2px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  align-items: center;
  justify-content: center;
}

.bpImage {
  margin: 3px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.title-text {
  font-size: 32;
}
